.changeplayerpass {
  position: relative;
  .change_img {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    object-fit: cover;
    height: 300px;
    z-index: 5;
  }
  .r_form {
    position: relative;
    margin-top: 80px;
    padding: 10px 0;
    min-height: calc(100vh - 80px);
    z-index: 99;
    .lo_form {
      padding: 30px;
      border-radius: 10px;
      display: block;
      width: 40%;
      margin: auto;
      margin-top: 40px;
      background-color: white;
      .l_title {
        margin-bottom: 40px;
        h2 {
          margin: 0;
          margin-bottom: 20px;
        }
      }
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      @media (max-width: 991px) {
        width: 100%;
      }
      .change_back {
        color: #30da7d;
      }
    }
    label {
      display: inline-block;
      margin-bottom: 10px;
    }
    input,
    button {
      display: block;
      padding: 10px 8px;
      margin-bottom: 10px;
      width: 100%;
      border: none;
      outline: none;
      font-size: 16px;
      background-color: rgba(112, 112, 112, 0.05);
    }
    .form_btn {
      margin-top: 20px;
      .r_btn {
        padding: 10px 25px;
        cursor: pointer;
      }
    }
  }
  .error {
    font-size: 14px;
    color: red;
  }
}
