.css-iljtu2-MuiRating-root {
  font-size: 2.5rem !important;
}

.css-iljtu2-MuiRating-root {
  color: #53bc7d !important;
}

.css-1ipqyij {
  color: #53bc7d !important;
  font-size: 2.5rem !important;
}

.css-79elbk {
  color: #53bc7d !important;
  font-size: 2.5rem !important;
}

.css-34he1w-MuiRating-decimal {
  color: #53bc7d !important;
  font-size: 2.5rem !important;
}
